@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f0f0f0;
    overflow-x: hidden;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}